pyrogram==1.4.16
TgCrypto
py-tgcalls==0.8.6
python-dotenv
youtube_dl
youtube_search_python
requests
aiohttp
asyncio
youtube_search
yt-dlp
wrapt_timeout_decorator
git+https://github.com/ophexor/yt-dl@master
git+https://github.com/mrabhix/pyrogram-bot.git
